{% include 'adminheader.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/scss/ad.css" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Services</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/scss/main.css">
    <link rel="stylesheet" href="/static/scss/skin.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="./script/index.js"></script>


</head>
<body>
    <section class="cards-wrapper">
        <div class="card-grid-space">
            <div class="num">01</div>
            <a class="card"  style="--bg-img: url('/static/img/grid1.jpg')">
                <div>
                    <h1>Emergence Music Mental Support For Artist | EMMSA</h1>
                    <p>The NLP coach's goal is to bring you to mentally overcome the thought patterns that limit you from reaching your goals. Using Neuro-Linguistic Programming can clearly identify strategies you use in your decision-making or your behavioral patterns.</p>
                    <div class="tags">
                        <div class="tag">NLP Coach Consultation | 60:00 MIN $79.99</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-grid-space">
            <div class="num">02</div>
            <a class="card" style="--bg-img: url('/static/img/grid2.jpg')">
                <div>
                    <h1>EPK | BASIC $39.99 | PRO $64.99</h1>
                    <p>Build your artist and/or your music media press release. Promote your career or new musical project with your high-quality music resume.</p>
                    <div class="tags">
                        <div class="tag">
                            Basic<br />
                            Pro<br />
                            Update $29.99<br>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-grid-space">
            <div class="num">03</div>
            <a class="card" style="--bg-img: url('/static/img/grid3.jpg')">
                <div>
                    <h1>Graphic Design | ON DEMAND</h1>
                    <p>Get the best visual content for your musical project with our top-of-the-line graphic design team.</p>
                    <div class="tags">
                        <div class="tag">
                            Cover/Artwork | BASIC $49.99 | PRO $74.99<br />
                            Social Media Promotion | $39.99<br />
                            Audio Video Social Media | BASIC $39.99 | PRO $59.99<br />
                        </div>
                    </div>
                </div>
            </a>
        </div>


        <div class="card-grid-space">
            <div class="num">04</div>
            <a class="card" style="--bg-img: url('/static/img/grid2.jpg')">
                <div>
                    <h1>Marketing Campaign | FROM $149.99</h1>
                    <p>Plan your promotional music campaign</p>
                    <div class="tags">
                        <div class="tag">
                            Social Media Ads<br />
                            Youtube Ads<br />
                            Influencer<br />
                            Email<br />
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-grid-space">
            <div class="num">05</div>
            <a class="card" style="--bg-img: url('/static/img/grid3.jpg')">
                <div>
                    <h1>Music Playlists | FROM $149.99</h1>
                    <p>Promote your music with our music playlist curators.</p>
                    <div class="tags">
                        <div class="tag">
                            Spotify (Organic & Official Curators)<br />
                            Emergence Music Playlists<br />
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-grid-space">
            <div class="num">06</div>
            <a class="card" style="--bg-img: url('/static/img/grid1.jpg')">
                <div>
                    <h1>Music Distribution</h1>
                    <p>Distribute your music on the most popular digital music streaming platforms around the world and more..</p>
                    <div class="tags">
                        <div class="tag">
                            Sound Royalties Collection<br />
                            Unlimited Music Distribution<br />
                        </div>
                    </div>
                </div>
            </a>
        </div>




        <div class="card-grid-space">
            <div class="num">07</div>
            <a class="card" style="--bg-img: url('/static/img/grid1.jpg')">
                <div>
                    <h1>Music Consultation | FROM $29.99</h1>
                    <p>Be guided by the best with the right strategy to reach and surpass your objectives.</p>
                    <div class="tags">
                        <div class="tag">
                            30:00 MIN & 60:00 MIN<br />
                            Management Consultation by a certified Music Manager<br />
                            Supervised Music Release by one of our Music Supervisors<br />
                            Artist Music Registration with one of our Music Supervisors<br />
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-grid-space">
            <div class="num">08</div>
            <a class="card" style="--bg-img: url('/static/img/grid3.jpg')">
                <div>
                    <h1>Music Industry Contract | FROM $49.99</h1>
                    <p>Get the proper documents to protect your music career and/or company legally with our contracts.</p>
                    <div class="tags">
                        <div class="tag">
                            Booking<br />
                            Licensing Agreement | Non-Exclusive & Exclusive<br />
                            On-Demand<br />
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-grid-space">
            <div class="num">09</div>
            <a class="card" style="--bg-img: url('/static/img/grid2.jpg')">
                <div>
                    <h1>Music Video Distribution | ON DEMAND</h1>
                    <p>Distribute your music video on the most popular digital music video streaming platforms around the world and more.</p>
                    <div class="tags">
                        <div class="tag">
                            Vevo<br />
                            Itunes Store/Apple Music<br />
                        </div>
                    </div>
                </div>
            </a>
        </div>



        <div class="card-grid-space">
            <div class="num">10</div>
            <a class="card" style="--bg-img: url('/static/img/grid2.jpg')">
                <div>
                    <h1>Public Relations | ON DEMAND</h1>
                    <p>Plan your specific media rollout locally or internationally to reach your target audience and get your brand more visibility..</p>
                    <div class="tags">
                        <div class="tag">
                            Media Tour<br />
                            Radio Tour<br />
                            Media Press<br />
                            Interview<br />
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-grid-space">
            <div class="num">11</div>
            <a class="card" style="--bg-img: url('/static/img/grid1.jpg')">
                <div>
                    <h1>Radio Broadcasting | ON DEMAND</h1>
                    <p>Distribute your music on Radio Broadcasting International Networks.</p>
                    <div class="tags">
                        <div class="tag">
                            !EARSHOT DISTRO<br />
                            International DMDS<br />
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-grid-space">
            <div class="num">12</div>
            <a class="card" style="--bg-img:  url('/static/img/grid3.jpg')">
                ">
                <div>
                    <h1>TV Broadcasting | ON DEMAND</h1>
                    <p>Distribute your music video on International TV Networks.</p>
                    <div class="tags">
                        <div class="tag">
                            BET/BET INT.<br />
                            MTV Networks<br />
                            MTV Latin America<br />
                            Latido Musica<br />
                            MuchMusic<br />
                            And many more<br />
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </section>
</body>
</html>
{% include 'footer.html' %}