{% include 'adminheader.html' %}

<div class="container mt-4 border rounded">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <center><h1 class="mb-0">Files</h1></center>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th scope="col">File Name</th>
                            <th scope="col">Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                        <tr>
                            <td><span style="color: black;">{{ file }}</span></td>
                            <td><a href="{{ url_for('admin.download_file', filename=file) }}" class="btn btn-sm btn-primary">Download</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
